<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>bibliothèque</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/books_a">bibliothèque</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/reservation_v}">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/books}">Se deconnecter</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> Livres reservés </h1>
		</div>
		
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Prenom</th>
					<th> Nom</th>
					<th> Email</th>
					<th> Titre</th>
					<th> Auteur</th>
					<th> Reservation</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "reservation: ${reservations}">
					<td th:text = "${reservation.user_firstname}"></td>
					<td th:text = "${reservation.user_lastname}"></td>
					<td th:text = "${reservation.user_email}"></td>
					<td th:text = "${reservation.book_title}"></td>
					<td th:text = "${reservation.book_author}"></td>
					<td>
						<a th:href = "@{/reservation/annuler/{titre}(titre=${reservation.book_title})}"
						 class = "btn btn-primary">Annuler</a>
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>